# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform.lock.hcl
terraform.tfplan

# OS
.DS_Store
Thumbs.db
*.swp
*.swo

# IDEs
.vscode/
.idea/
*.sublime-*

# Backups y temporales
*.backup
*.bak
*.tmp
*~

# Logs
*.log
